body {
  background-color: lightgreen;
  margin: 0px;
}

.heading {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-self: center;
  flex-grow: 100;
  justify-content: space-around;
}
img {
  align-self: flex-start;
  width: 50px;
  height: 50px;
  /* opacity: 50%; */
}
.heading {
  margin-bottom: 20px;
  background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg);
  background-size: 100%;
}
.link {
  display: flex;
  width: 200px;
  height: 25px;
  background-color: beige;
  border-radius: 95%;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
  transition: all 1s;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

a:hover {
  transition-delay: 0.2s;
  color: black;
  font-weight: bolder;
  font-size: 24px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  size: 50%;
  flex-grow: 100;
  transition: all 2s;
}
.intro:hover {
  /* font-size: 35px; */
  cursor: default;
}
h1 {
  text-transform: capitalize;
  text-align: center;
  color: azure;
  margin: 15px;
}
.gallery {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}
.pic {
  flex-grow: 1;
  margin: 15px;
  /* width: 250px; */
  height: 250px;
  transition: all 0.5s;
}
.pic:hover {
  opacity: 75%;
}

th,
td {
  text-align: center;
  border: 2px solid black;
}
.chart {
  display: flex;
  font-size: 40px;
  justify-content: center;
}
table {
  align-self: center;
  border-style: outset 5px;
  border-collapse: collapse;
}
