body {
  background-color: lightgreen;
  margin: 0px;
}

.heading {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-self: center;
  flex-grow: 100;
  justify-content: space-around;
}
img {
  align-self: flex-start;
  width: 50px;
  height: 50px;
}

.heading {
  margin-bottom: 20px;
  background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg);
  background-size: 100%;
}
.link {
  flex-shrink: 1;
  display: flex;
  width: 25%;
  height: 25px;
  background-color: beige;
  border-radius: 95%;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
  transition: all 1s;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

a:hover {
  transition-delay: 0.2s;
  color: black;
  font-weight: bolder;
  font-size: 24px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  size: 50%;
  flex-grow: 100;
  transition: all 2s;
}
.intro:hover {
  /* font-size: 35px; */
  cursor: default;
}
h1 {
  font-size: 3vw;
  text-transform: capitalize;
  text-align: center;
  color: azure;
  margin: 15px;
}
.gallery {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.pic-and-title {
  position: relative;
  text-align: center;
  flex-grow: 1;
  margin: 15px;
  height: 250px;
  transition: all 0.5s;
}
.pic-title {
  font-size: 2vw;
  text-transform: capitalize;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.pic {
  display: flex;
  width: 100%;
  height: 100%;
}
.pic:hover {
  opacity: 75%;
}

th,
td {
  text-align: center;
  border: 2px solid black;
  text-transform: capitalize;
}
.price {
  color: red;
}

.chart {
  font-size: 3vw;
  /* justify-content: center; */
}

.chart div {
  display: inline-block;
  vertical-align: middle;
  width: 49%;

}

table {
  border-collapse: collapse;
  /* flex-grow: 1; */
  border-style: outset;
  
  /* display: inline-block; */
}
.text {
  
  /* flex-grow: 1; */
  height: 100px;
  font-size: 34px;
}
/* .background-shadow {
  display: inline-block;} */
  /* width: 30%; */
  /* border-style: outset; */
  /* flex-grow: 1;

